.container-big{
    background: yellow;
}
.container-big{
    background:white;
}
.container{
    margin: 0px;
    /* border: 1px solid black; */
    width: 100%;
    height: 900px;
}
.container-about{
    border: 1px solid lightcoral;
    height: 250px;
    margin: 20px;
}
.container-service{
    border: 1px solid greenyellow;
    height: 500px;
    margin: 20px;

}
.container-header img {
width: 40px;
margin: 20px;
}
.container-item img {
height: 806px;
width: 100%;
object-fit: cover;
}
.container-menu{
    background: #191919;
    color: #888;
    margin: 20px;
    height: 30px;
}
.container-menu ul{
    display: flex;
    justify-content: space-around;
    padding-left: 200px;
    list-style-type: none;
    /* background: #191919;
    color: white; */
    text-decoration: underline;
    text-transform: lowercase;
}
.container-service{
    padding: 20px 0px;
    background: #191919;
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px;
}
.container-service div {
    padding: 20px;
    color: grey;
    border: 1px solid grey;
}
.col-4{
    background-image: url(http://duruthemes.com/demo/html/mccan/dark/images/slider.jpg);
}

