.container-header{
    width: 1200px;
    height: 1200px;
    background: #191919;
}
.row{
    height: 1200px;
    display: flex;
}
.col-4 {
    width: calc((100%/12)*4);
}
.col-8 {
    width: calc((100%/12)*8)
}
.bg-img{
background-image: url(http://duruthemes.com/demo/html/mccan/dark/images/slider.jpg);
background-size: cover;
background-repeat:no-repeat;
width: 100%;
height: 100vh;
position: fixed;
bottom: 0;
width: 400px;
}
.navbar-menu{
    height: 130px;
}
.navbar-item{
    height: 70px;
    margin: 60px 60px;
}
.navbar-item ul{
    display: flex;
    justify-content: space-evenly;
    margin: 26px 0px;
    list-style: none;
    color: #888;
}
 
.container-about{
    height: 100px;
}
.title-small{
    color: #f68338;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-left: 18px;
}
.title{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-left: 18px;
    margin-top: -13px;
    font-size: 25px;
    font-weight: 500px;
    text-transform: uppercase;
}
.about{
    font-family: 'Rambla', sans-serif;
    font-size: 15px;
    line-height: 1.75em;
    font-weight: 400;
    color: #888;
    margin-top: -13px;
    margin-left: 18px;
}

.rowMcCan{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 90px;
    color: #888;
    font-size: 15px;
    font-family: 'Rambla', sans-serif;
}

